
@media screen and (max-width: 992px ){
 .container{
    background-color: rgba(40,40,40,0.7);
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .link{
    background-colour: teal;
    color: orange;
    padding: 1rem 2rem;
    margin: 2%;
  }

  .burger{
    display: none;
}
}

/* make navbar Responsive */
@media screen and (max-width: 380px){
  .burger{
    display: inline;
    border: none;
    padding: .5em;
    color: orange;
  }
  .links{
    display: none;
  }
  .link{
    display: block;
    width: 100%;
    color: orange;
  }
}
